.about{
    padding: 80px 16px 0;
    gap: 48px;
    overflow-x: hidden;
}
.about-title{
    font-size: 104px;
    line-height: 104px;
    text-align: center;
}
.bp-title{
    font-size: 32px;
    line-height: 34px;
    font-family: var(--bold-font);
}
.shadow-deco{
    text-shadow: 0px 0px 11px #6D86FF;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
}
.bullet-point p{
    font-size: 16px;
}
.img{
    width: 33%;
}