@font-face {
    font-family: 'HostGrotesk bold';
        src: url('font/HostGrotesk/bold/HostGrotesk-Bold.woff2') format('woff2');
}
@font-face {
    font-family: 'HostGrotesk medium';
        src: url('font/HostGrotesk/medium/HostGrotesk-Medium.woff2') format('woff2');
}
@font-face {
    font-family: 'HostGrotesk regular';
        src: url('font/HostGrotesk/regular/HostGrotesk-Regular.woff2') format('woff2');
}


:root {
    --bold-font: HostGrotesk bold;
    --medium-font: HostGrotesk medium;
    --regular-font: HostGrotesk regular;

    --navbar-height: 42px;
    --violet: #C9CFEC;
    --event_green: #C1F89C;
    --event_blue: #6D86FF;
    --event_orange: #F1A500;
    
    --neutral_l-grey: #D3D3D3;
    --neutral_cool-grey: #E0E1E6;
    --neutral_clear-grey: #999;
    --neutral_m-grey: #808080;
    --neutral_dk-grey: #50535E;
    --neutral_black: #151515;
    --neutral_white: #f2f2f2;

    --card-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.14);
    --text-shadow: 0px 0px 11px #6D86FF;



    --icon-favorites: url('../assets/icons/favorites.svg');
    --icon-favorites-filled: url('../assets/icons/type=heart.svg');
    --icon-close: url('../assets/icons/type=close_line.svg');
    --icon-dayType: url('../assets/icons/type=copper_coin_line.svg');
    --icon-date: url('../assets/icons/type=calendar.svg');
    --icon-time: url('../assets/icons/type=time.svg');
    --icon-extLink: url('../assets/icons/type=out_link.svg');
    --icon-alert: url('../assets/icons/type=alert.svg');
    --icon-list: url('../assets/icons/type=list.svg');


    --yellow: #F9FD60;
    --grey: #c4c4c4
}

*, body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--regular-font);
    font-size: 0.92rem;
    color: var(--neutral_black);
    scroll-behavior: smooth;
}
body{
    background-color: var(--grey);
}
a {
    text-decoration: none;
    color: black;
}
/* TEMPLATE */
.w-100{
    width: 100%;
}
.h-100{
    height: 100%;
}
.ww-100{
    width: 100vw;
}
.vh-100{
    height: 100vh;
}
.min-w-92px{
    min-width: 92px;
}
.z-10{
    z-index: 10;
}
.fit-content{
    width: fit-content;
}
.overflow-y{
    overflow-y: scroll;
}

.flex{
    display: flex;
}
.flex-display-center-center{
    display: flex;
    align-content: center; /* cross axis of container - V */
    align-items: center; /* all children on cross axis - vertical center*/
    justify-content: center; /* main axis of conatiner - H */
}
.flex-display-center-start{
    display: flex;
    align-content: center; /* cross axis of container - V */
    align-items: center; /* all children on cross axis - vertical center*/
    justify-content: flex-start; /* main axis of conatiner - H */
}
.flex-display-center-sb{
    display: flex;
    align-content: center; /* cross axis of container - V */
    align-items: center; /* all children on cross axis - vertical center*/
    justify-content: space-between; /* main axis of conatiner - H */
}
.flex-display-start-center{
    display: flex;
    align-content: flex-start; /* cross axis of container - V */
    align-items: flex-start; /* all children on cross axis - vertical center*/
    justify-content: center; /* main axis of conatiner - H */
}
.flex-display-start-start{
    display: flex;
    align-content: flex-start; /* cross axis of container - V */
    align-items: flex-start; /* all children on cross axis - vertical center*/
    justify-content: start; /* main axis of conatiner - H */
}
.flex-display-sa-start{
    display: flex;
    align-content: center; /* cross axis of container - V */
    align-items: flex-start; /* all children on cross axis - vertical center*/
    justify-content: space-around; /* main axis of conatiner - H */
}
.flex-display-sa-center{
    display: flex;
    align-content: center; /* cross axis of container - V */
    align-items: center; /* all children on cross axis - vertical center*/
    justify-content: space-around; /* main axis of conatiner - H */
}
.flex-display-sb-center{
    display: flex;
    align-content: center; /* cross axis of container - V */
    align-items: center; /* all children on cross axis - vertical center*/
    justify-content: space-between; /* main axis of conatiner - H */
}
.column{
    flex-direction: column;
}
.row{
    flex-direction: row;
}
.wrap{
    flex-wrap: wrap;
}
.v-center{
    align-items: center;
}
.h-center{
    justify-content: center;
}
.baseline{
    align-items: baseline;
}


.g-xs{
    gap: 4px;
}
.g-s{
    gap: 8px;
}
.g-m{
    gap: 16px;
}
.g-l{
    gap: 32px;
}

.card-shadow{
    box-shadow: var(--card-shadow);
}
.text-shadow{
    text-shadow: var(--text-shadow);
}

/* SVG ICONS */
.icon{
    background-color: var(--neutral_black);
    mask-size: cover;
    mask-repeat: no-repeat;
}
.icon-s{
    width: 16px;
    height: 16px;
}
.icon-m{
    width: 24px;
    height: 24px;
}
.muted-icon{
    background-color: var(--neutral_dk-grey);
    color: var(--neutral_dk-grey);
}
.colored-icon{
    background-color: var(--violet);
}
.mask-image{
    mask-size: contain;
    background-size: contain;
}


/* TEXT */
.bold{
    font-family: var(--bold-font)
}
.medium{
    font-family: var(--medium-font)
}
.regular{
    font-family: var(--regular-font)
}
.m-text{
    font-size: 16px;
}
.s-text{
    font-size: 14px;
}
.xs-text{
    font-size: 12px;
}

.underlined{
    text-decoration: underline;
}
.pointer{
    cursor: pointer;
}
.muted-text{
    color: var(--neutral_dk-grey) !important;
} 

/* POSITION */
.relative{
    position: relative;
}
.absolute{
    position: absolute;
}




.divider{
    width: 1px;
    height: 16px;
    border-left: 1px solid var(--neutral_dk-grey);
}

.topnav{
    width: 100%;
    height:var(--navbar-height);
    position: fixed;
    z-index: 20000;
    background-color: var(--neutral_black);
    padding: 0 16px;
}
.nav-title{
    font-size: 18px;
    color: var(--violet) !important;
}
.popUp-index{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--grey);
    width: 45%;
    border: 1px solid var(--yellow);
}

.close{
    margin-bottom: 9%;
    font-size: 1.1rem;
}
.scroll-cue{
    position: absolute;
    top:90%;
    left: 50%;
    z-index: 10;
    transform: translateX(-50%);
}
.link-section{
    display: flex;
    width: 25%;
    justify-content: space-around;
}
.link{
    display: flex;
}

.content-wrapper{
    height: 100vh;
    width: 100vw;
    background-color: #333;
}


.btn{
    border: 1px solid white;
    padding: 6px 18px 3px 18px;
    width: fit-content;
}

/* SINGLE LOCATIONS */

.actual-content{
    height: calc(100% - 48px);
    width: 100%;
    transform: translateY(48px);
    display: flex;
    align-items: flex-start;
}

.buttons{
    position: relative;
    transform: translateY(42px);
    width: 100%;
    padding: 0 25px;
    z-index: 10;
}
.list-btn{
    border: 1px solid white;
    padding: 6px 12px;
}
.arrow{
    margin-left: 12px;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
}


.city-card{
    display: flex;
    flex-direction: column;
}
.city-card span{
    font-family: var(--sans-font);
    font-size: 12px;
}
.time{
    font-family: inherit;
    font-size: 24px;
    margin-bottom: 4px;
}
.line{
    width: 100%;
    height: 1px;
    margin: 12px 0 42px 0;
    background-color: white;
}
.rotate{
    transform: rotate(180deg);
    transition: all 0.4s ease;
}

.event-title{
    font-size: 22px;
    line-height: normal;
    font-family: var(--bold-font);
}

.comparison-data{
    margin-top: 24px;
}


.sans-regular{
    font-family: Neue Machina regular;
    line-height: 18px;
}

.location-wrapper{
    position: relative;
}
.location-item{
    width: 100%;
    min-height: 28px;
    background-color: white;
    color: black;
    padding: 4px 10px;
    border: 1px solid black;
    margin-bottom: -0.5px;
    cursor: pointer;
}
.location-menu{
    margin-top: 12px;
    height: 32px;
}
.arrow-down{
    transition: all 0.4s ease;
}
.location-dropdown{
    position: absolute;
    width: 100%;
    z-index: 10;
}
.hidden{
    display: none;
}
.check{
    opacity: 0;
}
.vis{
    opacity: 1;
}

/* DATA */
.graph-wrapper{
    margin: 64px 0 24px;
    position: relative;
}
.ax-x{
    height: 180px;
    width: 1px;
    background-color: white;
    transform: translateY(5%)
}
.ax-y{
    width: 100%;
    height: 1px;
    background-color: white;
    transform: translateX(-5%);
}
.first-bar{
    width: 50%;
    height: 30px;
    background-color: white;
    position: absolute;
}

/* MAP */
.map-container{
    position: absolute;
    width: 100vw;
    height: 100vh;
    /* padding-top: var(--navbar-height); */
}
#map{
    height: 100%;
    width: 100%;
    position: absolute;
}
.marker {
    background-image: url('../assets/pin.svg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 27px;
    height: 32px;
    border-radius: 50%;
    cursor: pointer;
}
.mapboxgl-popup{
    width: 45%;
}
@media screen and (max-width: 480px) {
    .mapboxgl-popup{
        width: 80%;
    }
    .weekday{
        justify-content: flex-start;
    }
}
.mapboxgl-popup-content{
    padding: 12px;
    z-index: 10;
    background-color: var(--violet);
    border-radius: 6px;
}
.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip{
    border-top-color: var(--violet);
}
.mapboxgl-popup-anchor-top .mapboxgl-popup-tip{
    border-bottom-color: var(--violet);
}
.mapboxgl-popup-close-button{
    color: black;
    top: calc(10px + 2%);
    right: 10px;
    height: 22px;
    width: 22px;
    display: none;
}
.popUp{
    /* padding: 12px;
    z-index: 10;
    background-color: var(--violet);
    border-radius: 6px; */
}
.popUp *{
    color: black;
}
.event-type{
    font-family: var(--medium-font);
    padding: 2px 12px;
    border-radius: 100px;
    width: fit-content;
}
.popUp-footer{
    margin-top: 0%;
}




/* BUTTON SECTION */
button{
    background-color: transparent;
    border: none;
    /* height: fit-content;
    width: fit-content; */
    cursor: pointer;
    border-radius: 4px;
    &:hover{
        background-color: var(--neutral_l-grey);
    }
}
.btn-text{
    font-size: 14px;
}
.button-section{
    padding: 4% 0;
}
.disabled{
    border: 1px solid var(--grey);
    color: var(--grey);
}
.primary-btn-bg{
    background-color: var(--neutral_black);
}
.primary-btn{
    border: 1px solid black;
    border-radius: 4px;
    padding: 8px 12px;
}
.primary-btn-s{
    padding: 4px 10px;
}
.secondary-btn{
    padding: 4px 6px;
    font-family: var(--medium-font);
    text-decoration: underline;
    & *{
        font-family: var(--medium-font);
    }
}
.tertiary-btn{
    text-shadow: var(--text-shadow);
}


/* ANIMATIONS */
.selected-btn{
    border: 1px solid black;
}


/* CHECKBOX SHIT & FILTERS*/


.checkbox-container{
    z-index: 1000;
    padding: 8px 24px;
    width: 80%;
    position: relative;
    margin-bottom: 7%;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
}
.type, .weekday{
    width: 100%;
    margin: 16px;
    gap: 24px;
    flex-wrap: wrap;
}

.switch {
    position: relative;
    width: 40px;
    height: 20px;
}
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}
.control{
    margin-bottom: 36px;
}
.checkbox-slider {
    position: absolute;
    top: 0;
    left: 0px;
    right: 0;
    bottom: 0;
    height: 20px;
    background-color: #C1C1C1;
    -webkit-transition: .4s;
    transition: .4s;
}
.checkbox-slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .2s;
    transition: .2s;
}
input:checked + .checkbox-slider {
    background-color: var(--neutral_black);
}
input:checked + .checkbox-slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}
input:checked + .checkbox-slider.aqua:before {
    background-color: aquamarine;
}
input:checked + .checkbox-slider.giallo:before {
    background-color: var(--violet);
}


/* UI ELEMENTS */
.ui-elements-container{
    position: absolute;
    padding-top: var(--navbar-height);
    height: 100vh;
    width: 100vw;
    background-color: rgba(200, 100, 0, 0.14);
    pointer-events: none;
}


/* FILTERS */
.filter-button-container{
    margin: 32px 0 0 16px;
    pointer-events: all;
}
.filter-btn{
    color: var(--violet);
}
.pill{
    border-radius: 100px;
    background-color: var(--neutral_black);
    padding: 6px 12px;
    min-width: 72px;
}
.filter-card-container{
    pointer-events: all;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,50vh);
    background-color: var(--neutral_cool-grey);
    padding: 12px;
    width: 88%;
    border-radius: 6px;
    transition: all 0.4s;
}
.card-title{
    font-family: var(--medium-font);
    font-size: 18px;
}

/* DATE FILTER */
.day-selector{
    width: 32px;
    height: 32px;
    border: 1px solid var(--neutral_black);
    border-radius: 100px;
    background-color: var(--neutral_white);
    &:hover{
        background-color: var(--neutral_cool-grey);
    }
}
input:checked + .day-selector{
    background-color: var(--neutral_black);
    color: var(--violet);
}
.hidden-input{
    opacity: 0;
    width: 0;
    height: 0;
}



.view-switcher{
    bottom: 58px;
    left: 16px;
}

/* FAVORITES */
.favorites-container{
    background-color: var(--violet);
    padding: 8px 16px;
    height: 42px;
    height: 40vh;
    border-radius: 12px 12px 0 0;
    position: fixed;
    bottom: 0;
    transition: height 0.4s ease;
    pointer-events: all;
}
.fav-disclaimer{
    border-radius: 6px;
    padding: 12px;
    height: 180px;
    border: 1px dashed var(--neutral_dk-grey);
    text-align: center;
}
.fav-popUp{
    padding: 12px;
    z-index: 10;
    background-color: var(--neutral_white);
    border-radius: 6px;
}
.fav-eve-cont-up{
    height: 100%;
    justify-content: start;
}